<!-- Footer Content -->
<div class="footer">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
      <i class="fa fa-twitter">
        <a href="https://twitter.com/cscatcsm">@CSCatCSM</a>
      </i>
      <i class="fa fa-facebook-square">
        <a href="https://www.facebook.com/groups/760331147414910/">Facebook Group</a>
      </i>
      <i class="fa fa-google-plus">
        <a href="/">gmail</a>
      </i> | Computer Science Club at College of San Mateo
    </div>
  </div>
</div>
