<!DOCTYPE html>
<html>
  <head>

  <link rel="stylesheet" type="text/css" href="assets/css/main.css">
  <script src="assets/js/script.js"></script>

  <!--    bootstrap    -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!-- Connect to Parse -->
  <script type="text/javascript" src="http://www.parsecdn.com/js/parse-latest.js"></script>


  </head>

  <!-- ==================== end head ====================== -->

  <body>

  <div class="container">
    <div class="header">

        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="logo">
              <img src="assets/images/pink_logo_placeholder.png">
            </div> <!-- logo -->

          </div> <!-- bootstrap left -->
          <div class="col-lg-9 col-md-9 col-sm-9">

            <div class="main-menu">
              <a class ="left-menu" href="/">home</a>
              <a href="about.html">about</a>
              <a href="events.html">events</a>
              <a href="contact.html">contact</a>
              <a href="projects.html">projects</a>
              <a class="right-menu"href="members.html">members</a>
            </div> <!-- main-menu -->

            <div class="main-header">
              <h1>Computer Science Club</h1>
              <h4>College of San Mateo</h4>
              <h4>1700 W Hillsdale Blvd</h4>
              <h4>San Mateo, CA, 94402</h4>
            </div> <!-- main-header -->

          </div> <!-- bootstrap right -->
        </div> <!-- bootstrap row -->
      </div> <!-- header -->
    </div><!-- container -->

    <div class="main">
      <h1>Post new event</h1>
      <form id="event-form">
         <p><input id="event-title" type="text"></p>
         <p><textarea id="event-description"></textarea></p>
         <p><input id="event-submit" type="submit"></p>
      </form>
    </div>

    <div id="main">
      <ul id="list-events">
         <!--
            list of events
            <li>
               <H3>title
               <p>description
         -->

      </ul>
    </div>

    <script src="assets/js/events.js"></script>

  </body>
</html>
