<!DOCTYPE html>
<html>
  <title>New Event | CSC</title>
  <% include _header %>

    <div class="main">
      <h1>Post new event</h1>
      <form method="post" action="/events/new_event" accept-charset="utf-8">
        <div class="form-group">
         <label>Event Title</label><br>
         <input name="title" type="text" class="form-group" />
        </div>
        <div>
          <label>Choose Date</date><br>
          <input name="date" type="text" class="form-group" />
           <script type="text/javascript">
              $(function() {
                  $('input[name="date"]').daterangepicker({
                      singleDatePicker: true,
                      showDropdowns: true
                  },
                  function(start, end, label) {
                      var years = moment().diff(start, 'years');
                  });
              });
           </script>
         </div>
         <div>
          <label>Event Description</label><br>
          <textarea name="description" class="form-group"></textarea>
         </div>
         <button type="submit">Submit</button>
      </form>
    </div>

	<% include _footer %>
  </body>
</html>
