<!DOCTYPE html>
<html>
  <title><%= events.title ? events.title : 'Event' %> | CSC</title>
  <% include _header %>

    <div class="main">
      <div class="show-events">
      <section class='col-xs-12 col-sm-6 col-md-6'>
        <h1><%= events.title ? events.title: '' %></h1>
        <p><%= events.date ? events.date : '' %></p>
        <p><%= events.description ? events.description : '' %></p>
      </section>
      </div>
    </div>

  <% include _footer %>
	</body>
</html>
