/*FONT LINK*/
@import url(https://fonts.googleapis.com/css?family=Quicksand:300);

.container {
  margin: 20px 100px;
}
.logo img {
  max-height: 222px;
  width: auto;
}
.main-menu a {
  padding: 0 40px;
  color: #000;
  font-family: "Quicksand";
}
.main-menu a.left-menu {
  padding-left: 0;
}
.main-menu a.right-menu {
  padding-right: 0;
}
.main-header {
  font-family: "Quicksand";
  text-transform: uppercase;
}
.main-header h1 {
  font-size: 50px;
  padding-bottom: 30px;
}
.main-header h4 {
  font-size: 21px;
}
.item {
  position: relative;
}

.show-projects h2 {
	font-family: Verdana, Geneva, sans-serif;
}

.show-projects h3{
	font-family: Verdana, Geneva, sans-serif;
}

.show-projects hr {
    height: 1px;
    color: black; 
    background-color: black; 
}

/*Carousel rules*/
.slider-container {
	padding-left: 0;
	padding-right: 0;
}

.carousel {
	margin-bottom: 0;
}

.carousel-control {
	left: -12px;
}

.carousel-control.left {
	left: -12px;
	width: 80px;
}

.carousel-control.right {
	right: -12px;
	width: 80px;
}

.carousel-caption {
	top: 0px;
}

.slide-text {
	position: absolute;
	width: 500px;
	left: 55%;
	top: 20px;
}

.slide-text h1 {
	text-align: center;
}

.indicators-position {
	position: relative; 
	width: 100px;
	left: 85%;
	bottom: -10px;
}

.carousel-indicators {
	top: auto;
	bottom: 0px;
}

.carousel-indicators li {
	background: #c0c0c0;
}

.carousel-indicators .active {
	background: #333333;
}
